//colors
$greenLight: #39b54a;
$greenDark: #197b30;
$darkBlue: hsl(233,26%,24%);
$veryLightGray: hsl(0,0%,98%);
$lightGrayishBlue: hsl(220, 16%,96%);
$grayishBlue: hsl(233, 8%, 62%);
$white: hsl(0,0%,100%);

//font size
$font-med : 1.125rem; //18px
$font-sm : 0.875rem; //14px
$font-lg : 1.25rem;
$font-xlg: 3.25rem;